<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            <label for="full_name">Full Name:</label>
            <input type="text" name="full_name" required><br><br>
            
            <label for="key">Key:</label>
            <input type="password" name="key" required><br><br>
            
            <button type="submit">Login</button>
        </form>

        <!-- Pesan kesalahan jika ada -->
        {% if error %}
        <div class="error" style="color:red;">
            {{ error }}
        </div>
        {% endif %}

        {% if credit_card and cvv and expiration_year %}
        <h2>Your Payment Details</h2>
        <div class="details">
            <p><strong>Credit Card Number:</strong> {{ credit_card }}</p>
            <p><strong>CVV:</strong> {{ cvv }}</p>
            <p><strong>Expiration Year:</strong> {{ expiration_year }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
