<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypted Data</title>
    <link rel="stylesheet" href="/static/style2.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Encrypted Data</h1>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Encrypted Data</th>
                </tr>
            </thead>
            <tbody>
                {% for user, encrypted_data in user_data %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ encrypted_data }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
